
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #3498bd;
}
.sec-form {
    background: #fff;
    width: 100%;
    max-width: 680px;
    padding: 45px;
}

.form-group {
    margin-bottom: 2rem;
    position: relative;
}



.app_form textarea {
    width: 100%;
    outline: none;
    resize: none;
    border-radius: 6px;
    border:  1px solid #ccc;
}

.app_form button {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    color: #fff;
    transition: background-color .3s ease;
    cursor: pointer;
}

.app_form button:hover {
    background-color: #16a085;
}
.class legend {
    border-radius: 10px;
}
fieldset {
border: 1px solid #000;
padding: 20px;
border-radius: 10px;
}


/*
.app_form input:focus ~ span,
.app_form textarea:focus ~ span,
.app_form input:valid ~ span,
.app_form textarea:valid ~ span

{
    transform: translateY(-40px);
    font-size: 14px;
    opacity: 1;
}
*/

.app_form input {
    position:absolute;
    width: 100%;
    height: 36px;
    margin-top: -4px;
    border: none;
    outline: none;
    right: 0px
        
}